@charset "UTF-8";

#wrapper {
  width: 600px;
  margin: 0 auto;
}

.center {
  display: inline-block;
  text-align: center;
}

#title {
  font-size: 1.5em;
}

#errMsg {
  color: #ff0000;
}

#edit_area {
  padding: 0 10px;
  border: 1px solid #000000;
}

textarea {
  width: 100%;
  height: 8em;
}

.entry_ID {
  font-weight: bold;
}